.filters-section {
  background-image: linear-gradient(rgb(1, 5, 26), rgb(6, 13, 56));
}

/* name-filter-div */
.n-f-d {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
  position: relative;
}

/* name-filter-label */
.n-f-l {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  position: absolute;
  transition: top 200ms ease-in , left 200ms ease-in font-size 200ms ease-in;
}

/* name-filter-input */
.n-f-i {
  background: none;
  border: 2px solid rgb(22, 33, 95);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 30px;
  outline: none;
  position: absolute;
  text-align: center;
  transition: all 160ms ease-in;
  width: 300px;
}

/* alteração de nomes da classe para funcionar o ESlint */
.n-f-i:focus ~ .n-f-l, .n-f-i:not( :placeholder-shown ).n-f-i:not( :focus ) ~ .n-f-l {
  background-color: rgb(1, 5, 26);
  font-size: 16px;
  padding: 0 10px;
  top: 25%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.number-filters-div {
  display: flex;
  height: 75px;
  justify-content: center;
}

.select-number-filters-div {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.type-number-filter, .comparison-number-filter {
  background-color: rgb(9, 49, 94);
  border: 0;
  border-radius: 5px 5px 0 0;
  color: white;
  font-size: 14px;
  height: 30px;
  margin: 0 5px;
  width: 50%;
}

.value-number-filter {
  all: unset;
  border: 2px solid rgb(37, 50, 122);
  border-radius: 5px;
  height: 25px;
  text-align: right;
  width: 75px;
}

.button-number-filter {
  background-color: rgb(9, 49, 94);
  border-radius: 5px;
  color: white;
  height: 28px;
  margin-left: 15px;
  width: 60px;
}

.button-clean-number-filters {
  background-color: rgb(9, 49, 94);
  border-radius: 5px;
  color: white;
  height: 28px;
  margin-left: 15px;
}

.active-filters {
  padding-bottom: 30px;
}

.filter {
  display: flex;
  margin: 0 10px;
}

.filter-description {
  margin: 5px 10px;
}

.delete-button {
  all: unset;
  padding: 0 10px;
  padding-top: 3px;
}

.delete-icon {
  height: 15px;
  width: 15px;
}

@media (max-width: 600px) {
  .number-filters-div {
    flex-direction: column;
  }

  .type-number-filter, .comparison-number-filter {
    background-color: rgb(9, 49, 94);
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 14px;
    height: 30px;
    margin: 0 5px 10px 5px;
    width: 90%;
  }

  .value-number-filter {
    text-align: center;
  }

  .select-number-filters-div {
    display: flex;
    padding: 0 10px;
    width: auto;
  }
}
