.filters-section {
  background-color: rgb(37, 50, 122);
}

/* name-filter-div */
.n-f-d {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  position: relative;
}

/* name-filter-label */
.n-f-l {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  position: absolute;
  transition: top 200ms ease-in , left 200ms ease-in font-size 200ms ease-in;
}

/* name-filter-input */
.n-f-i {
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  height: 30px;
  outline: none;
  position: absolute;
  text-align: center;
  transition: all 160ms ease-in;
  width: 300px;
}

/* alteração de nomes da classe para funcionar o ESlint */
.n-f-i:focus ~ .n-f-l, .n-f-i:not( :placeholder-shown ).n-f-i:not( :focus ) ~ .n-f-l {
  background-color: rgb(37, 50, 122);
  font-size: 16px;
  padding: 0 10px;
  top: 32%;
}

.hidden {
  display: none;
  visibility: hidden;
}
