.page-header {
  background-image: url('https://wallpaperaccess.com/full/1801911.jpg');
  background-position: 50% 40%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
}

.page-title {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  text-align: center;
}
