.sort-div {
  display: flex;
  justify-content: center;
}

.type-number-sort {
  background-color: rgb(9, 49, 94);
  border: 0;
  border-radius: 5px 5px 0 0;
  color: white;
  font-size: 14px;
  height: 30px;
  margin: 0 15px;
  width: 15%;
}

.radio-div {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.input-radio-sort {
  padding: 0 10px;
}

.order-button {
  background-color: rgb(9, 49, 94);
  border-radius: 5px;
  color: white;
  height: 28px;
  margin-left: 15px;
  width: 60px;
}
