.table-loading {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.table-loading:after {
  animation: loading 2s ease-in-out infinite;
  border: 10px solid #ddd;
  border-radius: 50%;
  border-top-color: #009579;
  content: '';
  height: 40px;
  width: 40px;
}

@keyframes loading {

  to {
    transform: rotate(1turn);
  }

}

.table-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 5px;
}

th, td {
  border-bottom: 2px solid #8c8c8c;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

.film-link, .film-created, .film-edited {
  font-size: 8px;
}

.planet-url {
  font-size: 2px;
}
