.table-loading {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.table-loading:after {
  animation: loading 2s ease-in-out infinite;
  border: 10px solid #ddd;
  border-radius: 50%;
  border-top-color: #009579;
  content: '';
  height: 40px;
  width: 40px;
}

@keyframes loading {

  to {
    transform: rotate(1turn);
  }

}

.table-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  position: relative;
}

th, td {
  border-bottom: 2px solid #8c8c8c;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}

thead > tr > th {
  background-color: rgb(0, 11, 82);
  position: sticky;
  top: 0;
}

.filter-section {
  background-color: gray;
  height: 80px;
}

.cell-button {
  all: unset;
  font-size: 18px;
}
